@media screen and (min-width: 747px) {
    .wrap-sec-1-2-3-4{
        .section-1{
            padding: 50px 50px 32px 50px;
        }
        .section-2{
            max-width: 502px;
            gap: 40px;
            padding: 0 50px 55px 50px;
            .sec-2-text{
                display: flex;
                flex-direction: column;
                gap: 40px;
                .sec-2-heading-1{
                    font-size: 18px;
                }
                .sec-2-heading-2{
                    font-size: 36px;
                }
                .sec-2-heading-3{
                    font-size: 20px;
                }
            }
            .sec-2-button{
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                .sec-2-button-1{
                    padding: 20px 35px;
                }
                .sec-2-button-2{
                    padding: 20px 35px;
                }
            }
        }
        .section-3{
            #mobile{
                display: none;
            }
            #tablet{
                display: flex;
                justify-content: center;
                width: 80%;
            }
        }
        .section-4{
            padding: 0 50px;
            .sec-4-heading{
                
            }
            .sec-4-content{
                padding: 31px 30px 20px 30px;
                .sec-4-content-wrap{
                    display: grid;
                    margin: 0 auto;
                    max-width: 657.4938354492188px;
                    grid-template-columns: repeat(2, minmax(50px,500px));
                    gap: 30px;
                    .sec-4-item{
                        .sec-4-loc-icon{
                            width: 50px;
                            height: 50px;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .sec-4-item-box{
                            .item-text{
                                font-size: 20px;
                            }
                            .item-add{
                                font-size: 20px;
                            }
                        }
                    }
                    .submit-button{
                        padding: 20px 65px;
                    }
                }
            }
        }
    }
    .section-5{
        padding: 10px 24px;
        .item-brand{
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 0.5;
            #logo1{
                width: 148.4444580078125px;
                height: 34.1422233581543px;
            }
            #logo2{
                width: 148.4444580078125px;
                height: 60.670318603515625px;
            }
            #logo3{
                width: 148.4444580078125px;
                height: 42.07706069946289px;
            }
            #logo4{
                width: 148.4444580078125px;
                height: 29.773956298828125px;
            }
        }
    }
    .section-6{
        .sec-6-wrap{
            .sec-6-heading{
                font-size: 20px;
                height: 55px;
            }
            .sec-6-body{
                padding: 50px 110px;
                .three-box{
                    .okeowo-box{
                        height: 70px;
                        border-radius: 20px;
                        font-size: 20px;
                    }
                    .NIK-number-box{
                        height: 70px;
                        border-radius: 20px;
                        font-size: 20px;
                    }
                    .check-box{
                        height: 64px;
                        border-radius: 20px;
                        font-size: 20px;
                    }
                }
                .box-certi{
                    font-size: 14px;
                    border-radius: 20px;
                }
            }
        }
    }
    .section-7{
        padding: 60px 70px 40px 70px;
        .sec-7-container{
            
            .big-box{
                max-width: 309px;
                border-radius: 50px 150px 50px 50px;
                padding: 40px 40px 74px 40px;
                .big-box-icon{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 70%;
                        height: auto;
                    }
                }
                .big-heading{
                    font-size: 23.95px;
                }
                .big-text{
                    font-size: 17.96px;
                }
                .readmore-button-box{
                    .readmore-button{
                        font-size: 17.96px;
                    }

                }
            }
            .small-box-container{
                display: grid;
                grid-template-columns: repeat(2, minmax(100px,200px));
                gap: 20px;
                .small-box{
                    border-radius: 50px;
                }
            }
        }
    }
    .section-8{
        padding: 35px 50px 35px 50px;
        .sec-8-wrap-1{

        }
        .sec-8-wrap-2{
            .sec-8-input-container-1{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .sec-8-input-text{
                    color: #000000;
                    font-weight: 700;
                    font-size: 20px;
                }
                .sec-8-input{
                    color: #00000040;
                    font-weight: 500;
                    font-size: 20px;
                    padding: 16px 0 16px 20px;
                    background-color: #0B153C26;
                    border-radius: 20px;
                }
                
            }
            .sec-8-input-container-2{
                display: none;
            }
            .wrap-tablet{
                display: flex;
                flex-direction: column;
                
                .sec-8-input-container-2-tablet{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-bottom: 10px;
                    .sec-8-input-heading{
                        font-weight: 700;
                        font-size: 20px;
                        color: #000000;
                    }
                    .sec-8-content-text{
                        color: #00000080;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
                .wrp-phone-ver{
                    display: flex;
                    gap: 50px;
                    .sec-8-phone-number-box{
                        width: 355px;
                        height: 70px;
                        display: flex;
                        justify-content: flex-start ;
                        align-items: center;
                        padding-left: 20px;
                        background-color: #0B153C26;
                        border-radius: 20px;
                        .nation-box{
                            height: 40px;
                            margin-right: 20px;
                        }
                        .phone-number-box{
                            font-weight: 500;
                            font-size: 20px;
                            color: #00000040;
                        }
                    }
                    .verify-button{
                        padding: 20px 50px;
                        align-content: center ;
                        text-align: center;
                        max-width: 50px;
                        font-weight: 700;
                        font-size: 20px;
                        border-radius: 20px;
                        color: var(--b-white);
                        background-color: var(--a-heading);
                    }
                }
            }
            .sec-8-input-container-3{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .sec-8-submit{
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--b-white);
                    background-color: var(--a-heading);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    height: 70px;
                }
                .sec-8-footer{
                    display: flex;
                    justify-content: space-evenly;
                    .resign-box{
                        font-size: 20px;
                    }
                    .check-status{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .section-9{
        .sec-9-heading-wrap{
            display: flex;
            flex-direction: column;
            /* gap: ; */
            margin-bottom: 30px;
            .sec-9-top-text{
                font-size: 20px;
            }
            .sec-9-heading{
                font-size: 36px;
            }
            .sec-9-content-text{
                font-size: 18px;
                min-width: 553px;
                margin: 0 auto;
            }
        }
        .sec-9-hero{
            /* height: 343px; */
            .hero{

            }
            .hero-item-main{
                font-size: 18px;
            }
            .box-text{
                padding: 10px 16px 10px 30px;
            }
        }
    }
    .section-10{
        padding: 46px 94px 60px 94px;
        .sec-10-card-top{

            .sec-10-top-text{
                font-size: 20px;
            }
            .sec-10-heading{
                font-size: 36px;
            }
            .sec-10-content-text{
                font-size: 18px;
            }
        }

        .sec-10-user-container{
            
            .user-box{
                max-width: 340px;
                margin: 0;
                .user-wrap{
                    
                    .user-avt{
                        width: 70px;
                        height: 70px;
                        img{
                            width: 70px;
                        }
                    }
                    .user-info{

                        .user-name{
                            font-size: 20px;
                        }
                        .user-location{
                            font-size: 14px;
                        }
                    }
                }
                .user-caption{
                    font-size: 18px;
                    max-width: 400px
                }
            }
        }
    }
    .section-11{
        .sec-11-wrap-1{
            width: 75%;
            height: 190px;
            border-radius: 50px;
            box-shadow: 0 0 0px 30px rgba(103, 103, 103, 0.29);
            .sec-11-heading-box{
                .sec-11-heading-1{
                    font-size: 36px;
                }
                .sec-11-heading-2{
                    font-size: 20px;
                }
            }
            .sec-11-send-mail{

                .send-mail-text{
                    font-size: 20px;
                }
                .send-mail-button{
                    height: 75px;
                    width: 100px;
                    img{
                        width: 40px;
                    }
                }
            }
        }
        footer{
            margin-top: 80px;
            .logo-footer{
                width: 200px;
                height: auto;
                img{
                    width: 200px;
                    height: auto;
                }
            }
            .footer-nav-wrap{
                display: flex;
                flex-direction: row;
                gap: 25px;
            }
            .footer-icon-wrap{
                height: auto;
                img{
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
}